BOT_USERNAME = relaxingcode
CHANNEL_NAME = relaxingcode
OAUTH_TOKEN = oauth:cquulg61reb3c8hdzu4n2lwtocwvo9
PORT = 5700
PORT_WS = 5701
URL_WEBHOOK_SUSCRIBER = "https://6825-99-251-42-188.ngrok.io/api/webhooks"

TWITCH_CLIENT_ID = "2xkwlq3zmgqcnwrej14nce8sbf9q2l"
TWITCH_SECRET = "ctks8oa1ghhxyrtqayzb7iozyvmzuc"
SESSION_SECRET = "dekubot"
CALLBACK_URL = "http://localhost:5700/api/login/callback"